---
const { id, props } = Astro.props;
const { text = '', level = 2 } = props ?? {};
const Tag = `h${[1,2,3,4].includes(Number(level)) ? level : 2}`;
---
<div class="wrap"><Tag class="display cb-heading" data-block-id={id} data-field="text" data-prop="text">{text}</Tag></div>
